.header {
  border-bottom: 2px solid #4aa0d8;
  background-color: rgb(17, 165, 169, 0.5);
}
.header li a {
  text-decoration: none;
  color: #fff;
}
li a:hover {
  text-decoration: none;
  color: darkgoldenrod;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
/* .container-component {
  width: 100px;
  height: 200px;
  flex: auto;
} */

.card-img-top {
  width: 120px;
  height: 200px;
}
h3 {
  color: black;
}
.card-footer {
  background-color: black;
  color: black;
  border-radius: 5px;
  align-items: center;
}
